{
  "name": "default",
  "type": "postgres",
  "host": "localhost",
  "port": 5444,
  "username": "postgres",
  "password": "password",
  "database": "db_name",
  "synchronize": true,
  "logging": false,
  "entities": [
    "src/entity/**/*.ts"
  ],
  "cli": {
    "entitiesDir": "src/entity",
    "migrationsDir": "src/migration",
    "subscribersDir": "src/subscriber"
  }
}